---
title: Page not found
layout: layouts/base
permalink: /404.html
excludeFromSitemap: true
---

<div class="not-found">
  <h1 class="not-found-header">{{ title }}</h1>
  <img src="/images/whatd-you-do.gif" alt="">
  <div class="not-found-text">
    <p>The page you&rsquo;re looking for doesn&rsquo;t exist or has been moved. It may be entirely my fault and I&rsquo;m sorry.</p>
  </div>
</div>