---
layout: layouts/base
title: About me
---

<div class="about">
  <div class="about-header">
    <h1>{{ title }}</h1>
  </div>
  <section class="about-section">
    <p>I&rsquo;m a product designer living and working remotely in San Marcos, Texas.</p>
    <p>I&rsquo;ve been in this field since 2009, specializing in cross-disciplinary design with a deep enthusiasm for design systems, accessibility, UX writing, and well-organized high-fidelity prototypes. I have some neat <a href="https://github.com/edelstone">open-source projects on GitHub</a>.</p>
  </section>
  <section class="about-section">
    <h2>Toolset</h2>
    <ul>
      <li><b>UX:</b> Figma, Balsamiq, DevTools, paper and pencil</li>
      <li><b>Code:</b> HTML, CSS, Sass, React, Git, various component libraries</li>
      <li><b>Research:</b> Talking to customers, UserTesting, Google Analytics, Hotjar
      <li><b>Productivity:</b> Things, Notes, long walks</li>
      <li><b>Learning:</b> Nielsen Norman Group, Frontend Focus, CSS Tricks</li>
      <li><b>Code editor:</b> Visual Studio Code</li>
      <li><b>Browser:</b> Brave</li>
    </ul>
  </section>
  <section class="about-section">
    <h2>Interests</h2>
    <ul>
      <li><strong>Music:</strong> I try to listen to new music every day. Favorite genres include post-rock (Dirty Three, Mogwai), instrumental ambient (&Oacute;lafur Arnalds, Nils Frahm), and slowcore (Low, Bedhead). <a href="http://www.last.fm/user/tsanzer">My listening stats are on Last.fm</a>.</li>
      <li><strong>Books:</strong> I read the occasional fiction classic, but otherwise I&rsquo;m mostly into non-fiction, particularly on the subjects of space science, philosophy, and American history.</li>
      <li><strong>Podcasts:</strong> I usually listen to a couple podcasts each day. Lately I&rsquo;m enjoying Unherd, Fleccas Talks, and The Brendan O&rsquo;Neill Show.</li>
      <li><strong>Film:</strong> I watch <em>a lot</em> of movies. Big fan of &rsquo;80s cinema, over-the-top action flicks, and South Korean films.</li>
      <li><strong>TV:</strong> My favorite shows of all time include Slings &amp; Arrows, Home Movies, The IT Crowd, Community, and The League of Gentlemen.</li>
    </ul>
  </section>
  <section class="about-section">
    <h2>Tidbits</h2>
    <ul>
      <li><a href="https://www.google.com/maps/d/u/0/edit?mid=18UmsEMmCnD-Nw_pzG3fmYnuURfY&amp;usp=sharing">I visit National Parks often</a>.</li>
      <li>I had an <a href="https://photos.app.goo.gl/dZmnf8guXIF7MCxw1">awesome dog named Chloe</a> who is now in heaven.</li>
      <li>I recently lost 75 pounds and promptly gained it all back. I&rsquo;m currently losing it again.</li>
      <li>One day I hope to be recruited by an intergalactic team of fighter pilots like Alex Rogan in <i>The Last Starfighter</i>.</li>
    </ul>
  </section>
</div>