---
layout: layouts/base
title: Contact me
---

<div class="contact">
  <div class="contact-header">
    <h1>{{ title }}</h1>
  </div>
  <ul class="contact-nav">
    <li><a href="mailto:hello@michaeledelstone.com">Email</a></li>
    <li><a href="https://linkedin.com/in/edelstone">LinkedIn</a></li>
    <li><a href="https://github.com/edelstone">GitHub</a></li>
  </ul>
</div>