---
layout: layouts/base
title: Contact 🤙
---

<div class="contact">
  <div class="contact-header">
    <h1>{{ title }}</h1>
  </div>
  <ul class="contact-nav">
    <li>Call me at 512-568-9289.</li>
    <li>Email me at <a href="mailto:hello@michaeledelstone.com">hello@michaeledelstone.com</a>.</li>
    <li>Professional me at <a href="https://linkedin.com/in/edelstone">linkedin.com/in/edelstone</a>.</li>
  </ul>
</div>