<header>
  <a href="#main" class="skip-to-main">Skip to main content</a>
  <a class="header" href="/">
    <div class="header-name constrain">
      <span class="header-name-letter">M</span><span class="header-name-letter">i</span><span class="header-name-letter">c</span><span class="header-name-letter">h</span><span class="header-name-letter">a</span><span class="header-name-letter">e</span><span class="header-name-letter">l</span> <span class="header-name-letter">E</span><span class="header-name-letter">d</span><span class="header-name-letter">e</span><span class="header-name-letter">l</span><span class="header-name-letter">s</span><span class="header-name-letter">t</span><span class="header-name-letter">o</span><span class="header-name-letter">n</span><span class="header-name-letter">e</span>
    </div>
  </a>
</header>