<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.name }} | {{ site.tagline }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="/images/me-share.jpg">
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ site.name }} | {{ site.tagline }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="/images/me-share.jpg">

