@use 'variables' as *;

// General
::selection {
  text-shadow: none;
  background: $dark;
  color: $light;
  height: auto;
}

html {
  background-color: $light;
  font-size: 110%;

  @include breakpoint('large') {
    font-size: 100%;
  }

  @include breakpoint('medium') {
    font-size: 92.5%;
  }

  @include breakpoint('small') {
    font-size: 87.5%;
  }
}

body {
  font-family: 'Lausanne', sans-serif;
  margin: 0;
  color: $dark;
  font-size: 1.5rem;
  overflow-x: clip;
}

img {
  height: auto;
}

main {
  padding: 1rem;
  margin: 3rem 0;

  @include breakpoint('medium') {
    margin: 1.5rem 0;
  }
}

a:not([class]) {
  color: $blue;

  &:is(:hover, :focus-visible) {
    text-decoration: none;
  }
}

ul {
  margin-bottom: 0;
  padding-left: 2rem;

  li+li {
    margin-top: .5rem;
  }
}

h1 {
  font-size: 2.5rem;
  margin-top: 0;

  @include breakpoint('small') {
    font-size:2.2rem;
  }
}

h2 {
  font-size: 1.875rem;
}

.constrain {
  max-width: 60rem;
  margin-inline: auto;
}

// Header
header {
  top: 0;
  position: sticky;
  z-index: 2;

  .banner {
    background: $dark;
    display: grid;
    align-items: center;
    color: $light;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    height: 3rem;

    &-name {
      padding: 0 1rem;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      gap: .3rem;
      width: 100%;

      &-letter {
        display: inline-block;
        transition: transform .1s ease-out;
        will-change: transform;
      }
    }

    &:is(:hover, :focus-visible) {
      .banner-name {
        @each $i, $transform in $banner-wave {
          &-letter:nth-child(8n + #{$i}) {
            transform: $transform;
          }
        }
      }
    }
  }
}

// Navigation
.nav {
  font-size: 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 1rem;
  padding: 0 .5rem;
  margin-top: .5rem;

  a {
    padding: .25rem .5rem;
    border-radius: $radius;
    color: $dark;
    text-decoration: none;

    &:is(:hover, :focus-visible) {
      background-color: $tan;
    }
  }
}

// Home
.homebase {
  display: grid;
  grid-template-columns: 18rem 1fr;
  gap: 2rem;

  @include breakpoint('medium') {
    gap: 1.5rem;
  }

  @include breakpoint('small') {
    grid-template-columns: 1fr;
  }

  &-visual {
    img {
      border-radius: $radius;
      border: 2px solid $dark;
      width: 100%;
    }
  }
}

// About
.about-section {
  padding-bottom: 1rem;
}

// Work
.work {

  &-sections {
    display: grid;
    gap: 1rem;
  }

  &-grid {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;

    @include breakpoint('medium') {
      gap: 1.5rem;
    }
  }

  &-row {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint('medium') {
      gap: 1.5rem;
    }

    @include breakpoint('small') {
      grid-template-columns: 1fr;
    }
  }

  &-card {
    border: 2px solid $dark;
    border-radius: $radius;
    background-color: $tan;
    overflow: hidden;
    text-decoration: none;

    &:is(:hover, :focus-visible) h3 {
      text-decoration: none;
    }

    figure {
      margin: 0;

      figcaption {
        padding: 1rem;
        color: $dark;

        h3 {
          margin-bottom: .5rem;
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 1.5;
          margin: 0;
          text-decoration: underline;
        }

        p {
          margin: 0;
          font-size: 1.25rem;
        }
      }
    }
  }
}

// Case studies
.case-study {
  &-header {
    background-color: $light;
    position: sticky;
    top: 3rem;
    margin-top: -.5rem;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    z-index: 1;

    &.pinned {
      box-shadow: 0 2px $dark;
    }

    &-content {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: 1rem;
      padding: .5rem 1rem;

      h1 svg,
      h1 img {
        height: auto;
        display: inline;
        margin-right: 1.25rem;

        &.logo {
          &-gt {
            width: 3.2rem;
          }

          &-balto {
            width: 2.5rem;
          }

          &-kuali {
            width: 1.8rem;
          }

          &-txst {
            width: 4rem;
          }

          &-tints-and-shades {
            width: 1.9rem;
          }

          &-material-palettes {
            width: 2rem;
          }

          &-tock {
            width: 2.4rem;
            position: relative;
            top: 0.3rem;
          }
        }
      }
    }

    &-nav {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      gap: 1rem;
      font-size: 1.25rem;

      svg {
        display: block;
        width: 2rem;
        height: 2rem;
        fill: $dark;
      }
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 1.5rem;

    @include breakpoint('medium') {
      grid-template-columns: 1fr;
      gap: 0;
    }

    figure {
      margin: 0;
      padding: 1rem;
      border-radius: $radius;
      background-color: $tan;
      border: 2px solid $dark;

      @include breakpoint('medium') {
        &:nth-child(1) {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom: none;
          padding-bottom: .5rem;
        }

        &:nth-child(2) {
          border-radius: 0;
          border-bottom: none;
          border-top: none;
          padding-bottom: .5rem;
        }

        &:nth-child(3) {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          border-top: none;
        }
      }

      h2 {
        font-size: 1.5rem;
        margin-top: 0;
      }

      p {
        font-size: 1.25rem;
        margin-top: .5rem;
      }
    }
  }

  &-writeup {
    margin-top: 2rem;
  }

  &-visuals {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    img:not([class]) {
      border: 1px solid $gray;
    }

    &-browser {
      margin-bottom: -2rem;
    }

    &-insert {
      padding: 1rem;
      background-color: $white;
    }
  }
}

// Skip to main content
.skip-to-main {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;

  &:focus-visible {
    margin: 0;
    overflow: visible;
    clip-path: none;
    white-space: normal;
    transition: none;
    left: 1rem;
    top: 1rem;
    width: auto;
    height: auto;
    overflow: visible;
    font-size: 1rem;
    color: $light;
    background: $dark;
    padding: .5rem 1rem;
    text-decoration: none;
    z-index: 3;
    border-radius: $radius;
  }
}

// 404 
.not-found img {
  margin-top: 2rem;
}