@use 'sass:map';

$white: #ffffff;
$light: #f6f0e8;
$tan: #e4d8cd;
$gray: #8d8d8d;
$dark: #1b1b1b;
$blue: #005198;

$radius-prime: .5rem;

$font-prime: 'Lausanne', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;

$banner-wave: (
  1: rotate(-10deg),
  2: translateY(-2px) rotate(-5deg),
  3: translateY(-3px),
  4: translateY(-2px) rotate(5deg),
  5: rotate(10deg),
  6: translateY(2px) rotate(5deg),
  7: translateY(3px),
  8: translateY(2px) rotate(-5deg)
);

$breakpoints: (
  small: 40rem,
  medium: 50rem,
  large: 70rem
);

@mixin breakpoint($point) {
  $limit: map.get($breakpoints, $point);

  @if not $limit {
    @warn "No breakpoint defined for `#{$point}`.";
  }

  @media only screen and (max-width: $limit) {
    @content;
  }
}
