$white: #ffffff;
$light: #f6f0e8;
$tan: #e4d8cd;
$dark: #1b1b1b;
$blue: #005198;

@mixin breakpoint($point, $value: "") {
  @if $point =='medium' {
    @media only screen and (max-width: 50rem) {
      @content;
    }
  }

  @else if $point =='small' {
    @media only screen and (max-width: 40rem) {
      @content;
    }
  }
}