<!doctype html>
<html lang="en">

<head>
  {% include "partials/head.njk" %}
</head>

<body>
  {% include "partials/header.njk" %}
  {% include "partials/nav.njk" %}
  <main id="main" class="main constrain">
    {{ content | safe }}
  </main>
  {% if caseStudy %}
  <script type="module" src="/js/photoswipe-init.js"></script>
  {% endif %}
</body>

</html>