<!doctype html>
<html lang="en">

<head>
  {% include "partials/head.njk" %}
</head>

<body>
  {% include "partials/header.njk" %}
  {% include "partials/nav.njk" %}
  <main id="main" class="main constrain">
    {{ content | safe }}
  </main>
  {% if caseStudy %}
  <script>
    // Add a class to header when it becomes sticky
    const el = document.querySelector(".case-study-header");
    const stickyTop = parseInt(window.getComputedStyle(el).top);
  
    window.addEventListener("scroll", () => {
      const currentTop = el.getBoundingClientRect().top;
      el.classList.toggle("pinned", currentTop === stickyTop);
    });
  </script>
  {% endif %}
</body>

</html>