<!doctype html>
<html lang="en">

<head>
  {% include "partials/head.njk" %}
</head>

<body>
  {% include "partials/header.njk" %}
  {% include "partials/nav.njk" %}
  <main id="main" class="main constrain">
    {{ content | safe }}
  </main>
  {% if caseStudy %}
  {% include "partials/detect-sticky.njk" %}
  {% include "partials/photoswipe-init.njk" %}
  {% endif %}
</body>

</html>
