---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About me" pathname="/about/">
  <div class="about">
    <div class="about-header">
      <h1>About me</h1>
    </div>
    <div class="about-section">
      <p>I’m a UX engineer living and working remotely in San Marcos, Texas.</p>
      <p>
        I’ve been in this field since 2009, working across design and code with
        an emphasis on critical work software, design systems, and
        well-structured high-fidelity prototypes. I also build and maintain some
        useful <a href="https://github.com/edelstone">open-source utilities</a>.
      </p>
    </div>
    <div class="about-section">
      <h2>Tools</h2>
      <ul>
        <li><strong>Design:</strong> Figma</li>
        <li><strong>Code:</strong> HTML, CSS, React, Git, Astro, Tailwind</li>
        <li><strong>AI:</strong> Claude, Codex, Copilot</li>
        <li>
          <strong>Research:</strong> UserTesting, Google Analytics, talking directly
          to customers
        </li>
        <li><strong>Productivity:</strong> Things, Notes, long walks</li>
      </ul>
    </div>
    <div class="about-section">
      <h2>Interests</h2>
      <ul>
        <li>
          <strong>Film:</strong> Big fan of ’80s Hollywood, horror comedies, and over-the-top
          action flicks.
        </li>
        <li>
          <strong>TV:</strong> If you make a <em>Community</em> or <em
            >IT Crowd</em
          > reference, I’ll probably get it.
        </li>
        <li>
          <strong>Books:</strong> I read the occasional fiction classic, but otherwise
          I’m into non-fiction, particularly space science and U.S. history (yes,
          audio books count).
        </li>
        <li>
          <strong>Music:</strong> I try to listen to new music every day. <a
            href="http://www.last.fm/user/tsanzer">My stats are on Last.fm</a
          >.
        </li>
        <li>
          <strong>Real world:</strong> Bicycles, solo hiking, cooking, photography,
          minimalism, Texas barbecue, telescopes, <a
            href="https://www.google.com/maps/d/u/0/edit?mid=18UmsEMmCnD-Nw_pzG3fmYnuURfY&usp=sharing"
            >National Parks</a
          >, and road trips.
        </li>
      </ul>
    </div>
    <div class="about-section">
      <p>
        One day I hope to be recruited by an intergalactic team of fighter
        pilots like Alex Rogan in <em>The Last Starfighter</em>.
      </p>
    </div>
  </div>
</BaseLayout>
