---
layout: layouts/base
title: A.I. phone home
caseStudy: true
permalink: /work/balto/
---

{% from "partials/picture.njk" import picture with context %}

<div class="case-study">
  <div class="case-study-header">
    <div class="case-study-header-content constrain">
      <h1>{% include "assets/balto.njk" %}{{ title }}</h1>
      <div class="case-study-header-nav">
        <a title="Previous" href="../gtreasury">{% include "assets/previous.njk" %}</a>
        <a title="Next" href="../kuali">{% include "assets/next.njk" %}</a>
      </div>
    </div>
  </div>
  <div class="case-study-cards">
    <figure>
      <h2>Role</h2>
      <p>Product Designer</p>
    </figure>
    <figure>
      <h2>Problem</h2>
      <p>A proven technology constrained to a single product, limiting expansion into new markets.</p>
    </figure>
    <figure>
      <h2>Top outcome</h2>
      <p>A new product line supported by validated prototypes and renewed organizational confidence.</p>
    </figure>
  </div>
  <div class="case-study-writeup">
    <p><a href="https://balto.ai">Balto</a> builds AI-driven listening software for large call centers. Prior to this project, their core product—<em>Real-Time Guidance</em>—was a desktop application that delivered automated suggestions and encouragement during live customer calls. While effective, it was narrow in scope and constrained future growth.</p>
    <p>Building on Balto’s machine learning foundation, I conceived and validated multiple user flows that resulted in a new product offering, <em>Real-Time Coaching</em>. The module introduced a native chat experience and an array of data-visualization tools, giving managers an at-a-glance view of team activity and productivity.</p>
  </div>
  <div class="case-study-visuals">
    {{ picture({
      name: "balto-browser",
      ext: "png",
      alt: "Product shot, agent chat",
      class: "case-study-visuals-browser",
      loading: "eager",
      fetchpriority: "high"
    }) }}
    {{ picture({
      name: "balto-alerts",
      ext: "png",
      alt: "Product shot, alerts table"
    }) }}
    {{ picture({
      name: "balto-form",
      ext: "png",
      alt: "Product shot, create an alert"
    }) }}
    {{ picture({
      name: "balto-log",
      ext: "png",
      alt: "Product shot, activity log"
    }) }}
    {{ picture({
      name: "balto-scores",
      ext: "png",
      alt: "Product shot, agent scores"
    }) }}
  </div>
</div>
