---
layout: layouts/base
title: Modernizing a monolith
caseStudy: true
permalink: /work/gtreasury/
---

<div class="case-study">
  <div class="case-study-header">
    <div class="case-study-header-content constrain">
      <h1>{% include "assets/gtreasury.njk" %}{{ title }}</h1>
      <div class="case-study-header-nav">
        <a title="Previous" href="../material-palettes">{% include "assets/previous.njk" %}</a>
        <a title="Next" href="../balto">{% include "assets/next.njk" %}</a>
      </div>
    </div>
  </div>
  <div class="case-study-cards">
    <figure>
      <h2>Role</h2>
      <p>UX Engineer</p>
    </figure>
    <figure>
      <h2>Problem</h2>
      <p>An aging application with deeply inconsistent styles, user experience, and information architecture.</p>
    </figure>
    <figure>
      <h2>Top outcome</h2>
      <p>A scalable design system with dozens of components that catalyzed a long-term modernization effort.</p>
    </figure>
  </div>
  <div class="case-study-writeup">
    <p><a href="https://gtreasury.com">GTreasury</a> builds treasury management software for governments and large institutions. Its primary application dates back to the early days of the web and had become fragmented and inconsistent over time.</p>
    <p>I led a ground-up redesign and content strategy, delivering structured, component-based artifacts designed to endure as teams transitioned to a modern JavaScript framework. The resulting design system&mdash;nicknamed <em>Obelisk</em>&mdash;was immediately used to prototype high-priority user flows and prove its value.</p>
    <p>Partnering with a front-end engineer, I wrote the CSS for a <a href="https://gtreasury.netlify.app">pixel-perfect coded prototype</a> that brought the system to life.</p>
  </div>
  <div class="case-study-visuals">
    <picture>
      <source srcset="/images/gt-browser.webp" type="image/webp">
      <img src="/images/gt-browser.png" class="case-study-visuals-browser" alt="Product shot, cash module">
    </picture>
    <picture>
      <source srcset="/images/gt-wizard.webp" type="image/webp">
      <img src="/images/gt-wizard.png" class="case-study-visuals-component" alt="Design system, wizard component">
    </picture>
    <picture>
      <source srcset="/images/gt-grid.webp" type="image/webp">
      <img src="/images/gt-grid.png" class="case-study-visuals-component" alt="Design system, grid component">
    </picture>
    <picture>
      <source srcset="/images/gt-dashboard.webp" type="image/webp">
      <img src="/images/gt-dashboard.png" alt="Product shot, dashboard">
    </picture>
    <picture>
      <source srcset="/images/gt-form.webp" type="image/webp">
      <img src="/images/gt-form.png" alt="Product shot, create a deal">
    </picture>
    <picture>
      <source srcset="/images/gt-worksheet.webp" type="image/webp">
      <img src="/images/gt-worksheet.png" alt="Product shot, worksheet">
    </picture>
    <picture>
      <source srcset="/images/gt-table.webp" type="image/webp">
      <img src="/images/gt-table.png" alt="Product shot, table functions">
    </picture>
  </div>
</div>
