---
layout: layouts/base
title: Modernizing a monolith
caseStudy: true
permalink: /work/gtreasury/
---

{% from "partials/picture.njk" import picture with context %}

<div class="case-study">
  <div class="case-study-header">
    <div class="case-study-header-content constrain">
      <h1>{% include "assets/gtreasury.njk" %}{{ title }}</h1>
      <div class="case-study-header-nav">
        <a title="Previous" href="../tock">{% include "assets/previous.njk" %}</a>
        <a title="Next" href="../balto">{% include "assets/next.njk" %}</a>
      </div>
    </div>
  </div>
  <div class="case-study-cards">
    <figure>
      <h2>Role</h2>
      <p>UX Engineer</p>
    </figure>
    <figure>
      <h2>Problem</h2>
      <p>An aging application with deeply inconsistent styles, user experience, and information architecture.</p>
    </figure>
    <figure>
      <h2>Top outcome</h2>
      <p>A scalable design system with dozens of components that catalyzed a long-term modernization effort.</p>
    </figure>
  </div>
  <div class="case-study-writeup">
    <p><a href="https://gtreasury.com">GTreasury</a> builds treasury management software for governments and large institutions. Its primary application dates back to the early days of the web and had become fragmented and inconsistent over time.</p>
    <p>I led a ground-up redesign and content strategy, delivering structured, component-based artifacts designed to endure as teams transitioned to a modern JavaScript framework. The resulting design system—nicknamed <em>Obelisk</em>—was immediately used to prototype high-priority user flows and prove its value.</p>
    <p>Partnering with a front-end engineer, I wrote the CSS for a <a href="https://gtreasury.netlify.app">pixel-perfect coded prototype</a> that brought the system to life.</p>
  </div>
  <div class="case-study-visuals pswp-gallery">
    {{ picture({
      name: "gt-browser",
      ext: "png",
      alt: "Product shot, cash module",
      class: "case-study-visuals-browser",
      loading: "eager",
      lightbox: true,
      fetchpriority: "high"
    }) }}
    {{ picture({
      name: "gt-wizard",
      ext: "png",
      alt: "Design system, wizard component",
      class: "case-study-visuals-component",
      lightbox: true
    }) }}
    {{ picture({
      name: "gt-grid",
      ext: "png",
      alt: "Design system, grid component",
      class: "case-study-visuals-component",
      lightbox: true
    }) }}
    {{ picture({
      name: "gt-dashboard",
      ext: "png",
      alt: "Product shot, dashboard",
      lightbox: true
    }) }}
    {{ picture({
      name: "gt-form",
      ext: "png",
      alt: "Product shot, create a deal",
      lightbox: true
    }) }}
    {{ picture({
      name: "gt-worksheet",
      ext: "png",
      alt: "Product shot, worksheet",
      lightbox: true
    }) }}
    {{ picture({
      name: "gt-table",
      ext: "png",
      alt: "Product shot, table functions",
      lightbox: true
    }) }}
  </div>
</div>
