---
layout: layouts/base
title: Recent work
permalink: /work/
---

<div class="work">
  <div class="work-header">
    <h1>My portfolio</h1>
  </div>
  <div class="work-sections">
    <div class="work-section">
      <div class="work-header">
        <h2>Professional works</h2>
      </div>
      <div class="work-grid">
        <div class="work-row">
          <a href="gtreasury" class="work-card">
            <figure>
              <picture>
                <source srcset="/images/thumb-gt.webp" type="image/webp">
                <img src="/images/thumb-gt.png" alt="">
              </picture>
              <figcaption>
                <h3>Modernizing a monolith</h3>
                <p>A component-based redesign and content strategy for a global financial firm.</p>
              </figcaption>
            </figure>
          </a>
          <a href="balto" class="work-card">
            <figure>
              <picture>
                <source srcset="/images/thumb-balto.webp" type="image/webp">
                <img src="/images/thumb-balto.png" alt="">
              </picture>
              <figcaption>
                <h3>A.I. phone home</h3>
                <p>Real-time chat and listening tools for coaches in high-volume contact centers.</p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="work-row">
          <a href="kuali" class="work-card">
            <figure>
              <picture>
                <source srcset="/images/thumb-kuali.webp" type="image/webp">
                <img src="/images/thumb-kuali.png" alt="">
              </picture>
              <figcaption>
                <h3>For the common good</h3>
                <p>A unifying experience for the world&rsquo;s most crucial research projects.</p>
              </figcaption>
            </figure>
          </a>
          <a href="texas-state" class="work-card">
            <figure>
              <picture>
                <source srcset="/images/thumb-txst.webp" type="image/webp">
                <img src="/images/thumb-txst.png" alt="">
              </picture>
              <figcaption>
                <h3>Branding a bobcat</h3>
                <p>An accessible digital identity to align and inspire a renowned Texas institution.</p>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
    <div class="work-section">
      <div class="work-header">
        <h2>Open-source projects</h2>
      </div>
      <div class="work-grid">
        <div class="work-row">
          <a href="tints-and-shades" class="work-card">
            <figure>
              <picture>
                <source srcset="/images/thumb-tints-shades.webp" type="image/webp">
                <img src="/images/thumb-tints-shades.png" alt="">
              </picture>
              <figcaption>
                <h3>Tint &amp; Shade Generator</h3>
                <p>One of the most popular color tools on the web, with users in over 180 countries.</p>
              </figcaption>
            </figure>
          </a>
          <a href="material-palettes" class="work-card">
            <figure>
              <picture>
                <source srcset="/images/thumb-material.webp" type="image/webp">
                <img src="/images/thumb-material.png" alt="">
              </picture>
              <figcaption>
                <h3>Material Palettes</h3>
                <p>Perfect color palettes based on Google&rsquo;s design system methodology.</p>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
