---
layout: layouts/base
title: Recent work
permalink: /work/
---

<div class="work">
  <div class="work-header">
    <h1>My portfolio</h1>
  </div>
  <div class="work-sections">
    <div class="work-section">
      <div class="work-header">
        <h2>Professional works</h2>
      </div>
      <div class="work-grid">
        <div class="work-row">
          <figure class="work-card">
            <img src="/images/gt-thumb.jpg" alt="">
            <figcaption>
              <a href="gtreasury">Modernizing a monolith</a>
              <p>A component-based redesign and content strategy for a global financial firm.</p>
            </figcaption>
          </figure>
          <figure class="work-card">
            <img src="/images/balto-thumb.jpg" alt="">
            <figcaption>
              <a href="balto">A.I. phone home</a>
              <p>Real-time chat and listening tools for coaches in busy contact centers.</p>
            </figcaption>
          </figure>
        </div>
        <div class="work-row">
          <figure class="work-card">
            <img src="/images/kuali-thumb.jpg" alt="">
            <figcaption>
              <a href="kuali">For the common good</a>
              <p>A singular experience to unify the best software in higher education.</p>
            </figcaption>
          </figure>
          <figure class="work-card">
            <img src="/images/txst-thumb.jpg" alt="">
            <figcaption>
              <a href="texas-state">Branding a bobcat</a>
              <p>An accessible digital identity to align and inspire a renowned Texas institution.</p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="work-section">
      <div class="work-header">
        <h2>Open-source projects</h2>
      </div>
      <div class="work-grid">
        <div class="work-row">
          <figure class="work-card">
            <img src="/images/tints-shades-thumb.jpg" alt="">
            <figcaption>
              <a href="tints-and-shades">Tint &amp; Shade Generator</a>
              <p>One of the most popular color tools on the web, with users in over 180 countries.</p>
            </figcaption>
          </figure>
          <figure class="work-card">
            <img src="/images/material-thumb.jpg" alt="">
            <figcaption>
              <a href="material-palettes">Material Palettes</a>
              <p>Perfect color palettes based on Google&rsquo;s design system methodology.</p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>