---
layout: layouts/base
title: For the common good
caseStudy: true
permalink: /work/kuali/
---

<div class="case-study">
  <div class="case-study-header">
    <div class="case-study-header-content constrain">
      <h1>{% include "assets/kuali.njk" %}{{ title }}</h1>
      <div class="case-study-header-nav">
        <a title="Previous" href="../balto">{% include "assets/previous.njk" %}</a>
        <a title="Next" href="../texas-state">{% include "assets/next.njk" %}</a>
      </div>
    </div>
  </div>
  <div class="case-study-cards">
    <figure>
      <h2>Role</h2>
      <p>Product Designer</p>
    </figure>
    <figure>
      <h2>Problem</h2>
      <p>Product lines had diverged over time, resulting in a disjointed experience and confused stakeholders.</p>
    </figure>
    <figure>
      <h2>Top outcome</h2>
      <p>A shared commitment to product alignment through a unified layout and navigation scheme.</p>
    </figure>
  </div>
  <div class="case-study-writeup">
    <p><a href="https://kuali.co">Kuali</a> builds software products for higher education institutions, serving academics, administrators, and students. I was the primary designer for the Research product, conducting user interviews, designing and testing prototypes, and occasionally coding my own designs to reduce engineering overhead.</p>
    <p>Independent product lines, each with dedicated sales and development teams, had evolved separate interfaces with little shared structure or alignment. In response, I incrementally developed a unifying framework across products, introducing common navigation, shared search functionality, and integrated co-branding.</p>
  </div>
  <div class="case-study-visuals">
    <picture>
      <source srcset="/images/kuali-browser.webp" type="image/webp">
      <img src="/images/kuali-browser.png" class="case-study-visuals-browser" alt="Product shot, system search">
    </picture>
    <picture>
      <source srcset="/images/kuali-find.webp" type="image/webp">
      <img src="/images/kuali-find.png" alt="Product shot, find documents">
    </picture>
    <picture>
      <source srcset="/images/kuali-apps.webp" type="image/webp">
      <img src="/images/kuali-apps.png" alt="Product shot, application switcher">
    </picture>
    <picture>
      <source srcset="/images/kuali-nav.webp" type="image/webp">
      <img src="/images/kuali-nav.png" alt="Product shot, main navigation">
    </picture>
    <picture>
      <source srcset="/images/kuali-mobile.webp" type="image/webp">
      <img src="/images/kuali-mobile.png" class="case-study-visuals-multi" alt="Product shot, mobile layout">
    </picture>
    <picture>
      <source srcset="/images/kuali-cobrand.webp" type="image/webp">
      <img src="/images/kuali-cobrand.png" alt="Product shot, co-branding">
    </picture>
  </div>
</div>