---
layout: layouts/base
title: Material Palettes
caseStudy: true
permalink: /work/material-palettes/
---

{% from "partials/picture.njk" import picture with context %}

<div class="case-study">
  <div class="case-study-header">
    <div class="case-study-header-content constrain">
      <h1>{% include "assets/material-palettes.njk" %}{{ title }}</h1>
      <div class="case-study-header-nav">
        <a title="Previous" href="../tints-and-shades">{% include "assets/previous.njk" %}</a>
        <a title="Next" href="../tock">{% include "assets/next.njk" %}</a>
      </div>
    </div>
  </div>
  <div class="case-study-blurb">
    <p><a href="https://materialpalettes.com">Material Palettes</a> is an open-source color tool built on the Material Design color algorithm. While an official palette generator exists, it is buried deep within the documentation and poorly suited for repeated use. This project resolves that gap with a focused, standalone experience.</p>
    <ul>
      <li><a href="https://materialpalettes.com">Live website</a></li>
      <li><a href="https://github.com/edelstone/material-palette-generator">Source code</a></li>
    </ul>
  </div>
  <div class="case-study-visuals">
    {{ picture({
      name: "material-home",
      ext: "png",
      alt: "Product shot, home",
      class: "case-study-visuals-browser",
      loading: "eager",
      fetchpriority: "high"
    }) }}
    {{ picture({
      name: "material-export",
      ext: "png",
      alt: "Product shot, export",
      class: "case-study-visuals-browser"
    }) }}
  </div>
</div>
