---
layout: layouts/base
title: Material Palettes
caseStudy: true
permalink: /work/material-palettes/
---

<div class="case-study">
  <div class="case-study-header">
    <div class="case-study-header-content constrain">
      <h1>{% include "assets/material-palettes.njk" %}{{ title }}</h1>
      <div class="case-study-header-nav">
        <a title="Previous" href="../tints-and-shades">{% include "assets/previous.njk" %}</a>
        <a title="Next" href="../gtreasury">{% include "assets/next.njk" %}</a>
      </div>
    </div>
  </div>
  <div class="case-study-blurb">
    <p><a href="https://materialpalettes.com">Material Palettes</a> is an open-source color tool built on the Material Design color algorithm. While an official palette generator exists, it is buried deep within the documentation and poorly suited for repeated use. This project resolves that gap with a focused, standalone experience.</p>
    <ul>
      <li><a href="https://materialpalettes.com">Live website</a></li>
      <li><a href="https://github.com/edelstone/material-palette-generator">Source code</a></li>
    </ul>
  </div>
  <div class="case-study-visuals">
    <picture>
      <source srcset="/images/material-home.webp" type="image/webp">
      <img src="/images/material-home.png" class="case-study-visuals-browser" alt="Product shot, home">
    </picture>
    <picture>
      <source srcset="/images/material-export.webp" type="image/webp">
      <img src="/images/material-export.png" class="case-study-visuals-browser" alt="Product shot, export">
    </picture>
  </div>
</div>