---
layout: layouts/base
title: Branding a bobcat
caseStudy: true
permalink: /work/texas-state/
---

<div class="case-study">
  <div class="case-study-header">
    <div class="case-study-header-content constrain">
      <h1>{% include "assets/txst.njk" %}{{ title }}</h1>
      <div class="case-study-header-nav">
        <a title="Previous" href="../kuali">{% include "assets/previous.njk" %}</a>
        <a title="Next" href="../tints-and-shades">{% include "assets/next.njk" %}</a>
      </div>
    </div>
  </div>
  <div class="case-study-cards">
    <figure>
      <h2>Role</h2>
      <p>UI/UX and Marketing Designer</p>
    </figure>
    <figure>
      <h2>Problem</h2>
      <p>Content management system templates had not been refreshed in over a decade.</p>
    </figure>
    <figure>
      <h2>Top outcome</h2>
      <p>Deployed the institution&rsquo;s first accessible, responsive digital identity across more than 500 websites and apps.</p>
    </figure>
  </div>
  <div class="case-study-writeup">
    <p><a href="https://txst.edu">Texas State University</a> is a renowned institution that had fallen behind digitally. Although the university converted to a custom CMS in the early 2000s, shifting priorities left front-end templates largely unchanged, and publishers struggled to present information effectively.</p>
    <p>I identified and led several initiatives to close this gap, resulting in 1&rpar; an accessible, multi-column template used by hundreds of editors, 2&rpar; an admissions-focused, responsive homepage, and 3&rpar; a flexible digital identity documented to guide future product updates. Each represented a first for the university.</p>
  </div>
  <div class="case-study-visuals">
    <picture>
      <source srcset="/images/txst-browser.webp" type="image/webp">
      <img src="/images/txst-browser.png" class="case-study-visuals-browser" alt="Texas State style guide">
    </picture>
    <picture>
      <source srcset="/images/txst-homepage.webp" type="image/webp">
      <img src="/images/txst-homepage.png" alt="Texas State homepage mockup">
    </picture>
    <picture>
      <source srcset="/images/txst-components.webp" type="image/webp">
      <img src="/images/txst-components.png" alt="Style guide component examples">
    </picture>
    <picture>
      <source srcset="/images/txst-sliders.webp" type="image/webp">
      <img src="/images/txst-sliders.png" alt="Style guide slider component">
    </picture>
    <picture>
      <source srcset="/images/txst-template.webp" type="image/webp">
      <img src="/images/txst-template.png" alt="Texas State template examples">
    </picture>
    <picture>
      <source srcset="/images/txst-marketing.webp" type="image/webp">
      <img src="/images/txst-marketing.png" alt="University Marketing team bios page">
    </picture>
  </div>
</div>