---
layout: layouts/base
title: Tint & Shade Generator
caseStudy: true
permalink: /work/tints-and-shades/
---

<div class="case-study">
  <div class="case-study-header">
    <div class="case-study-header-content constrain">
      <h1>{% include "assets/tints-and-shades.njk" %}{{ title }}</h1>
      <div class="case-study-header-nav">
        <a title="Previous" href="../texas-state">{% include "assets/previous.njk" %}</a>
        <a title="Next" href="../material-palettes">{% include "assets/next.njk" %}</a>
      </div>
    </div>
  </div>
  <div class="case-study-blurb">
    <p>The <a href="https://maketintsandshades.com">Tint &amp; Shade Generator</a> is an open-source web app for accurately producing tints and shades from a given hex color in configurable increments. It has become one of the most popular color tools on the web, used by designers, developers, educators, and data analysts in over 180 countries.</p>
    <ul>
      <li><a href="https://maketintsandshades.com">Live website</a></li>
      <li><a href="https://github.com/edelstone/tints-and-shades">Source code</a></li>
      <li><a href="https://www.figma.com/community/plugin/1580658889126377365/tint-shade-generator">Figma plugin</a></li>
    </ul>
  </div>
  <div class="case-study-visuals">
    <picture>
      <source srcset="/images/tints-shades-home.webp" type="image/webp">
      <img src="/images/tints-shades-home.png" class="case-study-visuals-browser" alt="Product shot, home">
    </picture>
    <picture>
      <source srcset="/images/tints-shades-palettes.webp" type="image/webp">
      <img src="/images/tints-shades-palettes.png" class="case-study-visuals-browser" alt="Product shot, generated color palettes">
    </picture>
    <picture>
      <source srcset="/images/tints-shades-export.webp" type="image/webp">
      <img src="/images/tints-shades-export.png" class="case-study-visuals-browser" alt="Product shot, export all colors">
    </picture>
  </div>
</div>
