---
layout: layouts/base
title: Tint & Shade Generator
caseStudy: true
permalink: /work/tints-and-shades/
---

{% from "partials/picture.njk" import picture with context %}

<div class="case-study">
  <div class="case-study-header">
    <div class="case-study-header-content constrain">
      <h1>{% include "assets/tints-and-shades.njk" %}{{ title }}</h1>
      <div class="case-study-header-nav">
        <a title="Previous" href="../texas-state">{% include "assets/previous.njk" %}</a>
        <a title="Next" href="../material-palettes">{% include "assets/next.njk" %}</a>
      </div>
    </div>
  </div>
  <div class="case-study-blurb">
    <p>The <a href="https://maketintsandshades.com">Tint &amp; Shade Generator</a> is an open-source web app for accurately producing tints and shades from a given hex color in configurable increments. It has become one of the most popular color tools on the web, used by designers, developers, educators, and data analysts in over 180 countries.</p>
    <ul>
      <li><a href="https://maketintsandshades.com">Live website</a></li>
      <li><a href="https://github.com/edelstone/tints-and-shades">Source code</a></li>
      <li><a href="https://www.figma.com/community/plugin/1580658889126377365/tint-shade-generator">Figma plugin</a></li>
    </ul>
  </div>
  <div class="case-study-visuals">
    {{ picture({
      name: "tints-shades-home",
      ext: "png",
      alt: "Product shot, home",
      class: "case-study-visuals-browser",
      loading: "eager",
      fetchpriority: "high"
    }) }}
    {{ picture({
      name: "tints-shades-palettes",
      ext: "png",
      alt: "Product shot, generated color palettes",
      class: "case-study-visuals-browser"
    }) }}
    {{ picture({
      name: "tints-shades-export",
      ext: "png",
      alt: "Product shot, export all colors",
      class: "case-study-visuals-browser"
    }) }}
  </div>
</div>
