---
layout: layouts/base
title: Tint & Shade Generator
caseStudy: true
permalink: /work/tints-and-shades/
---

<div class="case-study">
  <div class="case-study-header">
    <div class="case-study-header-content constrain">
      <h1>{% include "assets/tints-and-shades.njk" %}{{ title }}</h1>
      <div class="case-study-header-nav">
        <a title="Previous" href="../texas-state">{% include "assets/previous.njk" %}</a>
        <a title="Next" href="../material-palettes">{% include "assets/next.njk" %}</a>
      </div>
    </div>
  </div>
  <div class="case-study-blurb">
    <p>The <a href="https://maketintsandshades.com">Tint &amp; Shade Generator</a> is an open-source web app for accurately producing tints and shades of a given hex color in 10% increments. It's become one of the most popular color generators on the web, beloved by designers, developers, educators, and data analysts in over 180 countries.</p>
    <ul>
      <li><a href="https://maketintsandshades.com">Live website</a></li>
      <li><a href="https://github.com/edelstone/tints-and-shades">Source code</a></li>
    </ul>
  </div>
  <div class="case-study-visuals">
    <img src="/images/tints-shades-home.webp" class="case-study-visuals-browser" alt="Product shot, home">
    <img src="/images/tints-shades-palettes.webp" class="case-study-visuals-browser" alt="Product shot, generated color palettes">
    <img src="/images/tints-shades-export.webp" class="case-study-visuals-browser" alt="Product shot, export all colors">
  </div>
</div>