---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Icon from "../../components/Icon.astro";
import Picture from "../../components/Picture.astro";
---

<BaseLayout title="Material Palettes" pathname="/work/material-palettes/" caseStudy={true}>
  <div class="case-study">
    <div class="case-study-header">
      <div class="case-study-header-content constrain">
        <h1><Icon name="materialPalettes" />Material Palettes</h1>
        <div class="case-study-header-nav">
          <a title="Previous" href="/work/tock/"><Icon name="previous" /></a>
          <a title="Next" href="/work/gtreasury/"><Icon name="next" /></a>
        </div>
      </div>
    </div>
    <div class="case-study-writeup case-study-writeup-no-cards">
      <p><a href="https://materialpalettes.com">Material Palettes</a> is an open-source color tool built on the Material Design color algorithm. While an official palette generator exists, it is buried deep within the documentation and poorly suited for repeated use. This project resolves that gap with a focused, standalone experience.</p>
      <ul>
        <li><a href="https://materialpalettes.com">Website</a></li>
        <li><a href="https://github.com/edelstone/material-palette-generator">Source code</a></li>
      </ul>
    </div>
    <div class="case-study-visuals pswp-gallery">
      <Picture name="material-home" ext="png" alt="Product shot, home" class="case-study-visuals-browser" loading="eager" lightbox fetchpriority="high" />
      <Picture name="material-export" ext="png" alt="Product shot, export" class="case-study-visuals-browser" lightbox />
    </div>
  </div>
</BaseLayout>
