---
layout: layouts/base
title: A.I. phone home
---

<div class="case-study">
  <div class="case-study-header">
    <h1>{{ title }}</h1>
    <div class="case-study-header-nav">
      <a href="../gtreasury">Previous</a>
      <a href="../kuali">Next</a>
    </div>
  </div>
  <div class="case-study-content">
  </div>
</div>