---
layout: layouts/base
title: A.I. phone home
caseStudy: true
---

<div class="case-study">
  <div class="case-study-header">
    <div class="case-study-header-content constrain">
      <h1>{{ title }}</h1>
      <div class="case-study-header-nav">
        <a href="../gtreasury">Previous</a>
        <a href="../kuali">Next</a>
      </div>
    </div>
  </div>
  <div class="case-study-cards">
    <figure>
      <h2>Role</h2>
      <p>Lead Product Designer</p>
    </figure>
    <figure>
      <h2>Problem</h2>
      <p>Company has a proven technology but wants to scale to new markets and customers.</p>
    </figure>
    <figure>
      <h2>Top outcome</h2>
      <p>A new product line backed by validated prototypes and a renewed organizational confidence.</p>
    </figure>
  </div>
  <div class="case-study-writeup">
    <p><a href="https://balto.ai">Balto</a> makes AI-driven listening software for large call centers. Before this project their core application was &ldquo;Real-Time Guidance&rdquo;, a desktop app for automated suggestions and encouragement while talking to customers. It was limited in functionality and Balto wanted to go big on some new ideas and enhancements.</p>
    <p>Building upon their powerful machine learning technology, I conceived and validated multiple user flows, ultimately resulting in a new product offering named &ldquo;Real-Time Coaching&rdquo;. This new module included a native chat client and a suite of data visualization tools for a clear, at-a-glance impression of staff productivity.</p>
  </div>
  <div class="case-study-visuals">
    <img src="/images/balto-coaching.webp" class="case-study-visuals-browser" alt="Product shot, cash module">
    <img src="/images/balto-alerts.jpg" alt="Product shot, alerts">
    <img src="/images/balto-add-alert.jpg" alt="Product shot, create an alert">
    <img src="/images/balto-log.jpg" alt="Product shot, log">
    <img src="/images/balto-reports.jpg" alt="Product shot, reporting charts">
  </div>
</div>