---
layout: layouts/base
title: Modernizing a monolith
---

<div class="case-study">
  <div class="case-study-header">
    <h1>{{ title }}</h1>
    <div class="case-study-header-nav">
      <p class="no-link">Previous</p>
      <a href="../balto">Next</a>
    </div>
  </div>
  <div class="case-study-content">
    <img src="/images/gtreasury-browser.png" alt="GTreasury product shot">
  </div>
</div>