---
layout: layouts/base
title: Modernizing a monolith
caseStudy: true
---

<div class="case-study">
  <div class="case-study-header">
    <div class="case-study-header-content constrain">
      <h1>{{ title }}</h1>
      <div class="case-study-header-nav">
        <p class="no-link">Previous</p>
        <a href="../balto">Next</a>
      </div>
    </div>
  </div>
  <div class="case-study-cards">
    <figure>
      <h2>Role</h2>
      <p>Lead Product Designer</p>
    </figure>
    <figure>
      <h2>Problem</h2>
      <p>Outdated application with extremely inconsistent styles, user experience, and information architecture.</p>
    </figure>
    <figure>
      <h2>Top outcome</h2>
      <p>A scalable design system with dozens of components that inspired a long-term modernization effort.</p>
    </figure>
  </div>
  <div class="case-study-writeup">
    <p><a href="https://gtreasury.com">GTreasury</a> makes treasury management software for governments and large institutions. Their primary application has been around since the early days of the web and had become disorganized and inconsistent over time.</p>
    <p>I was the lead designer on a ground-up redesign and content strategy, providing teams with structured, component-based artifacts that would last a decade as they pivoted to a modern JavaScript framework. The resulting design system was fondly named &ldquo;Obelisk&rdquo; and was immediately utilized for prototyping high-priority user flows to demonstrate its effectiveness.</p>
  </div>
  <div class="case-study-visuals">
    <img src="/images/gt-cash.webp" class="case-study-visuals-browser" alt="Product shot, cash module">
    <img src="/images/gt-chip.jpg" alt="Design system chip component">
    <img src="/images/gt-wizard.jpg" alt="Design system wizard component">
    <img src="/images/gt-dashboard.jpg" alt="Product shot, dashboard">
    <img src="/images/gt-worksheet.jpg" alt="Product shot, worksheet">
    <img src="/images/gt-deal.jpg" alt="Product shot, create a deal">
    <img src="/images/gt-payments.jpg" alt="Product shot, payment approvals">
    <img src="/images/gt-table.jpg" alt="Product shot, table functions">
  </div>
</div>