---
layout: layouts/base
title: Modernizing a monolith
---

<div class="case-study">
  <div class="case-study-header">
    <h1>{{ title }}</h1>
    <div class="case-study-header-nav">
      <p class="no-link">Previous</p>
      <a href="../balto">Next</a>
    </div>
  </div>
  <div class="case-study-cards">
    <figure>
      <h2>Role</h2>
      <p>Lead Product Designer</p>
    </figure>
    <figure>
      <h2>Problem</h2>
      <p>Outdated application with extremely inconsistent styles, user experience, and information architecture.</p>
    </figure>
    <figure>
      <h2>Top outcome</h2>
      <p>Delivered a custom design system with typography, color palette, and over 50 components.</p>
    </figure>
  </div>
  <div class="case-study-writeup">
    <p><a href="https://gtreasury.com">GTreasury</a> makes treasury management software for governments and large institutions. Their primary application has been around since the early days of the web and had become disorganized and inconsistent over time.</p>
    <p>I was the lead designer on a ground-up redesign and content strategy, providing development teams with structured, component-based artifacts that would last a decade as they pivoted to a modern JavaScript framework. The resulting design system was fondly named &ldquo;Obelisk&rdquo;.</p>
  </div>
  <div class="case-study-visuals">
    <img src="/images/gt-cash.png" class="case-study-visuals-browser" alt="Product shot, cash module">
    <img src="/images/gt-palette.jpg" alt="Extended color palette">
    <img src="/images/gt-chip.jpg" alt="Design system chip component">
    <img src="/images/gt-wizard.jpg" alt="Design system wizard component">
    <img src="/images/gt-table.jpg" alt="Complete table example">
    <img src="/images/gt-dashboard.jpg" alt="Product shot, dashboard">
    <img src="/images/gt-dashboard-create.jpg" alt="Product shot, create new dashboard">
  </div>
</div>