---
layout: layouts/base
title: Recent work
---

<div class="work">
  <section class="work-section">
    <div class="work-header">
      <h1>Professional works</h1>
    </div>
    <div class="work-grid">
      <div class="work-row">
        <figure class="work-card">
          <img src="/images/gtreasury-thumb.jpg" alt="">
          <figcaption>
            <a href="gtreasury">Modernizing a monolith</a>
            <p>Leading a component-based redesign and content strategy for a global financial firm.</p>
          </figcaption>
        </figure>
        <figure class="work-card">
          <img src="/images/balto-thumb.jpg" alt="">
          <figcaption>
            <a href="balto">A.I. phone home</a>
            <p>Rapidly prototyping a suite of real-time listening tools for contact centers.</p>
          </figcaption>
        </figure>
      </div>
      <div class="work-row">
        <figure class="work-card">
          <img src="/images/kuali-thumb.jpg" alt="">
          <figcaption>
            <a href="kuali">Comply or die</a>
            <p>Building an indispensible work tracker for the nation&#8217;s top scientific researchers.</p>
          </figcaption>
        </figure>
        <figure class="work-card">
          <img src="/images/txst-thumb.jpg" alt="">
          <figcaption>
            <a href="texas-state">Branding a bobcat</a>
            <p>Creating an accessible digital identity to align and inspire a renowned Texas institution.</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section class="work-section">
    <div class="work-header">
      <h2>Open-source projects</h2>
    </div>
    <div class="work-grid">
      <div class="work-row">
        <figure class="work-card">
          <img src="/images/tints-shades-thumb.jpg" alt="">
          <figcaption>
            <a href="https://maketintsandshades.com">Tint and shade generator <img class="external-link" src="/images/external-link.svg" alt="external link"></a>
            <p>A popular web application for generating tints and shades in 10% increments.</p>
          </figcaption>
        </figure>
        <figure class="work-card">
          <img src="/images/material-thumb.jpg" alt="">
          <figcaption>
            <a href="https://materialpalettes.com">Material palettes <img class="external-link" src="/images/external-link.svg" alt="external link"></a>
            <p>Perfect color palettes based on Google&rsquo;s design system methodology.</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
</div>