---
layout: layouts/base
title: For the common good
---

<div class="case-study">
  <div class="case-study-header">
    <div class="case-study-header-content constrain">
      <h1>{{ title }}</h1>
      <div class="case-study-header-nav">
        <a href="../balto">Previous</a>
        <a href="../texas-state">Next</a>
      </div>
    </div>
  </div>
  <div class="case-study-cards">
    <figure>
      <h2>Role</h2>
      <p>Lead Product Designer</p>
    </figure>
    <figure>
      <h2>Problem</h2>
      <p>Product lines have diverged over time, creating a disjointed experience and confused stakeholders.</p>
    </figure>
    <figure>
      <h2>Top outcome</h2>
      <p>A shared dedication to product alignment under a thoughtful layout and navigation scheme.</p>
    </figure>
  </div>
  <div class="case-study-writeup">
    <p><a href="https://kuali.co">Kuali</a> is a well-known pioneer of software products for higher education academics, professionals, and students. I was the primary designer for the Research product, where I interviewed users, designed and tested prototypes, and often coded my own designs to take pressure off the engineers.</p>
    <p>Multiple product lines, each with their own dedicated sales and development teams, led to numerous UIs with few systems to sync around central goals. In response, I incrementally developed a dynamic, unifying structure for all products to strive towards including common navigation, search functionality, and co-branding.</p>
  </div>
  <div class="case-study-visuals">
    <img src="/images/kuali-search.webp" class="case-study-visuals-browser" alt="Product shot, search function">
    <img src="/images/kuali-nav.jpg" alt="Product shot, main navigation">
    <img src="/images/kuali-mobile.jpg" alt="Product shot, mobile layout">
    <img src="/images/kuali-branding.jpg" alt="Product shot, co-branding dialog">
    <img src="/images/kuali-find-documents.jpg" class="case-study-visuals-insert" alt="Low fidelity mockup, find documents">
  </div>
</div>