---
layout: layouts/base
title: Comply or die
---

<div class="case-study">
  <div class="case-study-header">
    <h1>{{ title }}</h1>
    <div class="case-study-header-nav">
      <a href="../balto">Previous</a>
      <a href="../texas-state">Next</a>
    </div>
  </div>
  <div class="case-study-content">
  </div>
</div>