---
layout: layouts/base
title: Material palettes
---

<div class="case-study">
  <div class="case-study-header">
    <h1>{{ title }}</h1>
    <div class="case-study-header-nav">
      <a href="../tints-and-shades">Previous</a>
      <p class="no-link">Next</p>
    </div>
  </div>
  <div class="case-study-writeup">
    <p><a href="https://materialpalettes.com">Material palettes</a> is an open-source color tool utilizing Google&rsquo;s Material Design algorithm for color derivation. Their official palette generator is embedded and buried deep within the Material docs, making it hidden from search engines and difficult to discover or bookmark. This resolves that oversight.</p>
    <ul>
      <li><a href="https://materialpalettes.com">Live website</a></li>
      <li><a href="https://github.com/edelstone/material-palette-generator">Source code</a></li>
    </ul>
  </div>
  <div class="case-study-visuals">
    <img src="/images/material-home.png" class="case-study-visuals-browser" alt="Product shot, home screen">
    <img src="/images/material-export.png" class="case-study-visuals-browser" alt="Product shot, generated color palettes">
  </div>
</div>