---
layout: layouts/base
title: Branding a bobcat
caseStudy: true
permalink: /work/texas-state/
---

<div class="case-study">
  <div class="case-study-header">
    <div class="case-study-header-content constrain">
      <h1>{% include "logos/txst.html" %}{{ title }}</h1>
      <div class="case-study-header-nav">
        <a title="Previous" href="../kuali">{% include "previous.html" %}</a>
        <a title="Next" href="../tints-and-shades">{% include "next.html" %}</a>
      </div>
    </div>
  </div>
  <div class="case-study-cards">
    <figure>
      <h2>Role</h2>
      <p>Lead UI/UX and Marketing Designer</p>
    </figure>
    <figure>
      <h2>Problem</h2>
      <p>Content management system templates haven&rsquo;t been refreshed in over a decade.</p>
    </figure>
    <figure>
      <h2>Top outcome</h2>
      <p>Deployed the institution&rsquo;s first accessible, responsive digital identity to over 500 websites and apps.</p>
    </figure>
  </div>
  <div class="case-study-writeup">
    <p><a href="https://txst.edu">Texas State University</a> is a beautiful school that fell behind the digital times. Though the entire institution converted to a custom CMS in the early 2000s, shifting priorities left the front end template largely outdated, and publishers struggled to find compelling ways to convey information.</p>
    <p>I identified and led several major initiatives to correct this divide, and ultimately we introduced 1&rpar; an accessible, multi-column template to hundreds of editors, 2&rpar; an admissions-driven, responsive homepage, and 3&rpar; a flexible digital identity documented for future product updates. All of these were firsts for the university.</p>
  </div>
  <div class="case-study-visuals">
    <img src="/images/txst-styleguide.webp" class="case-study-visuals-browser" alt="Product shot, search function">
    <img src="/images/txst-components.jpg" class="case-study-visuals-insert" alt="Style guide component examples">
    <img src="/images/txst-slider.jpg" class="case-study-visuals-insert" alt="Style guide slider component">
    <img src="/images/txst-headers.jpg" class="case-study-visuals-insert" alt="Examples of wesbite headers">
    <img src="/images/txst-homepage-mockup.jpg" alt="Mobile homepage mockup">
    <img src="/images/txst-homepage.jpg" class="case-study-visuals-insert" alt="Homepage on mobile device">
  </div>
</div>