---
layout: layouts/base
title: Branding a bobcat
---

<div class="case-study">
  <div class="case-study-header">
    <h1>{{ title }}</h1>
    <div class="case-study-header-nav">
      <a href="../kuali">Previous</a>
      <p class="no-link">Next</p>
    </div>
  </div>
  <div class="case-study-content">
  </div>
</div>