---
layout: layouts/base
title: Tint & Shade Generator
---

<div class="case-study">
  <div class="case-study-header">
    <h1>{{ title }}</h1>
    <div class="case-study-header-nav">
      <a href="../texas-state">Previous</a>
      <a href="../material-palettes">Next</a>
    </div>
  </div>
  <div class="case-study-blurb">
    <p>The <a href="https://maketintsandshades.com">Tint &amp; Shade Generator</a> is an open-source web app for accurately producing tints and shades of a given hex color in 10% increments. It has become one of the most popular color generators on the web, beloved by designers, developers, teachers, and data analysts in over 180 countries.</p>
    <ul>
      <li><a href="https://maketintsandshades.com">Live website</a></li>
      <li><a href="https://github.com/edelstone/tints-and-shades">Source code</a></li>
    </ul>
  </div>
  <div class="case-study-visuals">
    <img src="/images/tints-shades-home.png" class="case-study-visuals-browser" alt="Product shot, home screen">
    <img src="/images/tints-shades-palettes.png" class="case-study-visuals-browser" alt="Product shot, generated color palettes">
  </div>
</div>