<svg xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" class="logo-kuali" viewBox="0 0 110 115"><path fill="#50B189" fill-rule="evenodd" d="M0 0v115h110L55 57.5 110 0H0Z" clip-rule="evenodd"/></svg>