---
layout: layouts/base
title: About me
permalink: /about/
---

<div class="about">
  <div class="about-header">
    <h1>{{ title }}</h1>
  </div>
  <div class="about-section">
    <p>I&rsquo;m a digital designer living and working remotely in San Marcos, Texas.</p>
    <p>I&rsquo;ve been in this field since 2009, specializing in cross-disciplinary design with a deep enthusiasm for design systems, <a href="https://github.com/edelstone">open source</a>, and well-organized high-fidelity prototypes.</p>
  </div>
  <div class="about-section">
    <h2>Tools</h2>
    <ul>
      <li><b>Design:</b> Figma (auto layout, components), Balsamiq, Miro, paper and pencil</li>
      <li><b>Code:</b> HTML, CSS, React, Git, various component libraries</li>
      <li><b>AI:</b> ChatGPT, Claude, Lovable, GitHub Copilot</li>
      <li><b>Research:</b> UserTesting, Google Analytics, Hotjar, talking to customers</li>
      <li><b>Productivity:</b> Things, Notes, long walks</li>
      <li><b>Learning:</b> Nielsen Norman Group, Frontend Focus, Smashing Magazine, CSS Tricks</li>
      <li><b>Code editor:</b> Visual Studio Code</li>
      <li><b>Browser:</b> Brave</li>
    </ul>
  </div>
  <div class="about-section">
    <h2>Interests</h2>
    <ul>
      <li><b>Music:</b> I try to listen to new music every day. <a href="http://www.last.fm/user/tsanzer">My listening stats are on Last.fm</a>.</li>
      <li><b>Books:</b> I read the occasional fiction classic, but otherwise I&rsquo;m into non-fiction, particularly on the subjects of space science and U.S. history.</li>
      <li><b>Podcasts:</b> I usually listen to a couple podcasts a day. Lately I&rsquo;m enjoying Dad Saves America and The Winston Marshall Show.</li>
      <li><b>Movies:</b> Big fan of &rsquo;80s Hollywood cinema, Christmas comedies, and over-the-top action flicks.</li>
      <li><b>TV:</b> My favorite shows include Slings &amp; Arrows, Community, and The IT Crowd.</li>
      <li><b>Real world:</b> Bicycles, hiking, cooking, photography, minimalism, Texas barbecue, telescopes, and road trips.</li>
    </ul>
  </div>
  <div class="about-section">
    <h2>Tidbits</h2>
    <ul>
      <li>All my successes are dedicated to <a href="https://findagrave.com/memorial/261274812/binyomin-shmuel-edelstone">my brother, Brian</a>.
      <li><a href="https://www.google.com/maps/d/u/0/edit?mid=18UmsEMmCnD-Nw_pzG3fmYnuURfY&amp;usp=sharing">I visit National Parks often</a>.</li>
      <li>One day I hope to be recruited by an intergalactic team of fighter pilots like Alex Rogan in <i>The Last Starfighter</i>.</li>
    </ul>
  </div>
</div>