---
layout: layouts/base
title: Welcome to my website
permalink: /
---

<div class="homebase">
  <div class="homebase-visual">
    <picture>
      <source srcset="images/me-landscape.webp" type="image/webp" media="{{ media.portraitSwap }}">
      <source srcset="images/me-landscape.jpg" media="{{ media.portraitSwap }}">
      <source srcset="images/me-portrait.webp" type="image/webp">
      <img src="images/me-portrait.jpg" alt="">
    </picture>
  </div>
  <div class="homebase-text">
    <div class="homebase-text-header">
      <h1>{{ title }}</h1>
    </div>
    <div class="homebase-text-intro">
      <p>I&rsquo;m Michael Edelstone, a product designer focusing on utilitarian software and brands.</p>
      <p>You can do a few things here:</p>
    </div>
    <ul class="homebase-text-nav">
      <li><a href="/work">View my portfolio</a></li>
      <li><a href="/about">Learn about me</a></li>
      <li><a href="/contact">Contact me</a></li>
    </ul>
  </div>
</div>
