<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  {% include "meta.html" %}
  {% include "favicons.html" %}
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
  <title>{{ title }} | Michael Edelstone</title>
</head>

<body>
  {% include "header.html" %}
  {% include "nav.html" %}
  <main id="main" class="main constrain">
    {{ content | safe }}
  </main>
</body>

</html>