<header>
  <a href="#main" class="skip-to-main">Skip to main content</a>
  <a class="banner" href="/">
    <div class="banner-name constrain">
      <span class="banner-name-word">
        <span class="banner-name-letter">M</span><span class="banner-name-letter">i</span><span class="banner-name-letter">c</span><span class="banner-name-letter">h</span><span class="banner-name-letter">a</span><span class="banner-name-letter">e</span><span class="banner-name-letter">l</span>
      </span>
      <span class="banner-name-word">
        <span class="banner-name-letter">E</span><span class="banner-name-letter">d</span><span class="banner-name-letter">e</span><span class="banner-name-letter">l</span><span class="banner-name-letter">s</span><span class="banner-name-letter">t</span><span class="banner-name-letter">o</span><span class="banner-name-letter">n</span><span class="banner-name-letter">e</span>
      </span>
    </div>
  </a>
</header>