<nav class="nav constrain">
  {% for i in nav %}
  {% set url = i.url %}
  {% set isExact = (page.url == url) %}
  {% set isSection = (url != '/' and page.url.indexOf(url) == 0) %}
  <a href="{{ url }}" {% if isExact or isSection %} aria-current="page" {% endif %}>
    {{ i.label }}
  </a>
  {% endfor %}
</nav>